.acordon_video{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.acordion_video_head{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 25px;
    align-items: center;

}

.video_info_content{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.acordion_title_text{
    display: flex;
    flex-direction: column;
}

.title_head{
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    font-size: 25px;
}

.title_text{
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    font-size: 15px; 
    align-items: center;
    cursor: pointer;
}

.title_text:hover{
    color: #f60;
}

.video_info_img{
    width: 50px;
}

.info_links{
    margin-right: 20px;
}

.iconify_info_facebook{
    width: 50px;
    background-color: rgb(54, 53, 53);
    padding: 10px 30px;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
    border: 0.5px solid rgb(161, 161, 161);
  
}

.iconify_info_twitter{
    width: 50px;
    background-color: rgb(54, 53, 53);
    padding: 10px 26px;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
    border: 0.5px solid rgb(161, 160, 160);
  
}


.iconify_info_facebook:hover{
    background-color: rgb(30, 30, 194);
}

.iconify_info_twitter:hover{
    background-color: rgb(63, 135, 194);
}
.video-description{
    color: white;
    margin: 15px;
    width: 95%;
    display: none;
    height: 100px;
    transition: 0.5s;
}



.chevron-back{
    transform: rotate(270deg);
    transition: 0.5s;
}

#iconify_facebook{
    font-size: 15px;
    
}

#iconify_twitter{
    font-size: 15px;
}

.show_channels_div{

}

@media(max-width:1150px){
    .acordon_video{
        background-color: aliceblue;
        
    }

   .title_head{
       color: #313636;
       margin-left: 15px;
   }

   .video_info_content{
       justify-content: flex-start;
       align-items: center;
   }

    .iconify_info_facebook{
        display: none;
    }
    .iconify_info_twitter{
        display: none;
    }

    .show_channels_div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        background-color: aliceblue;
        padding: 15px;
    }

    .btn_info_cont{
        display: flex;

    }

    .btn_info{
        background: none;
        border: none;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: .4px;
        color: var(--color-contrast-low);
        margin-right: 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .Nav_all__channels__LW2Nc{

        display: inline-block;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 1.3px;
        color: #1b1b1b;
        text-transform: uppercase;
        padding: 9px;
        border-radius: 5px;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 5%), 0 0 1px 0 rgb(0 0 0 / 14%);
        margin-left: auto;
        text-align: center;
        text-decoration: none;
    }

    }